/* the vibe is early 2000s aesthetic ~ think smooth y2k */

body {
    background-color: black;
    font-family: brush 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orchid;
    margin: 0;
    padding: 20px;
}
h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid orchid; 
    padding: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* fixed, yay! */
h1:hover {
    color: black;
    background-color: orchid; /* background on hover */
    text-decoration: blink;
}

h2
{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}

h3
{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}
h4
{
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;

}
h5
{
    font-size: 35px;
    text-align: center;
    margin-top: 5px;
}